body {
	background-color: #D1E3DD;
}
h1 {
	font-family: 'Original Surfer', cursive;
}
p {
	font-family: 'Original Surfer', cursive;
}

ul {
	font-family: 'Original Surfer', cursive;
}

a {
	font-family: 'Original Surfer', cursive;
}